In [6]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import warnings
warnings.filterwarnings('ignore')
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import plotly.express as px
import plotly.graph_objects as go
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2022-ukraine-russian-war/russia_losses_equipment.csv
/kaggle/input/2022-ukraine-russian-war/russia_losses_personnel.csv

In [7]:
equipment = pd.read_csv("/kaggle/input/2022-ukraine-russian-war/russia_losses_equipment.csv")
personnel = pd.read_csv("/kaggle/input/2022-ukraine-russian-war/russia_losses_personnel.csv")

In [8]:
equipment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   6 non-null      object
 1   day                    6 non-null      int64
 2   aircraft               6 non-null      int64
 3   helicopter             6 non-null      int64
 4   tank                   6 non-null      int64
 5   APC                    6 non-null      int64
 6   field artillery        6 non-null      int64
 7   BUK                    6 non-null      int64
 8   MRL                    6 non-null      int64
 9   military auto          6 non-null      int64
 10  fuel tank              6 non-null      int64
 11  drone                  6 non-null      int64
 12  naval ship             6 non-null      int64
 13  anti-aircraft warfare  6 non-null      int64
dtypes: int64(13), object(1)
memory usage: 800.0+ bytes

In [9]:
personnel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       6 non-null      object
 1   day        6 non-null      int64
 2   personnel  6 non-null      int64
 3   POW        1 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 320.0+ bytes

In [10]:
equipment.head(2)

,date,day,aircraft,helicopter,tank,APC,field artillery,BUK,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare
0,2022-02-26,3,27,26,146,706,49,1,4,30,60,2,2,0
1,2022-02-28,5,29,29,150,816,74,1,21,291,60,3,2,5

In [11]:
personnel.head(2)

         date  day  personnel  POW
0  2022-02-26    3       4300  NaN
1  2022-02-28    5       5300  NaN

In [ ]:
#Joining the data frames on the days columns to streamline the visualisation
manNmachine = pd.join()

In [ ]:
fig = go.Figure()
for x in equipment.column
    fig.add_figure(go.Scatter(x=equiment.day,y=equipment[x],name=x))